
dialog {
  border: none;
  z-index: 10000;
  position: fixed;
  inset: 0;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.479);
  color: inherit;
  margin: 0;
}

dialog img {
  width: 400px;
  border-radius: .3rem;
}

.controls, dialog#new, dialog#new-nav {
  position: absolute;
  padding: .2rem;
  left: calc(100% - 83px);
  width: 85px;
  bottom: 18px;
}

.controls form,
.controls button,
dialog#new button,
dialog form, #new-nav  button{
  width: 100%;
}

.control-btn,
dialog#new button {
  background-color: white;
  border: none;
  padding: .5rem .3rem;
  font-family: inherit;
}

.controls button:hover,
#new>button:hover, #new-nav button:hover {
  background-color: var(--hover-color);
}

.controls button:focus,  #new>button:focus, #new-nav button:focus{
  outline: 1px solid rgba(0, 0, 0, 0.562);
}

.border-bottom, dialog#new  .border-bottom {
  border-bottom: 1px solid var(--hover-color);
  margin-bottom: 2px;
}

.dialog-form {
  position: fixed;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}


/** new dialog **/
dialog#new {
  left: 0;
  top: 20%;
  translate: 0;
  width: 184px;
}
dialog label {
  font-size: 1.5rem;
}

dialog#folder, dialog#file {
  margin: 0;
  position: fixed;
  translate: -50% -50%;
  left: 50%;
  top: 45%;
}

dialog#file p {
  margin: .2rem 0;
}

dialog#file input {
  margin-top: .5rem;
}

dialog#new-nav {
  top: 10%;
  translate: -100% 40%;
  margin: 0;
  width: max-content;
}

@media (max-width: 1000px) {

  dialog img {
    max-width: 400px;
    width: 85vw;
  }

  
  


}
