main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2.2rem 2rem;
  border-radius: 1rem;
  width: clamp(500px, 65vw, 1000px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px #e2e8f0;
}

header { 
  width: 100%;
  color: #111827;
}

h1 {
  display: flex;
  gap: .4rem;
  font-size: 2.5rem;
  align-items: center;
  margin: 0;
  text-align: start;
}

header img { 
  width: 40px;
  animation: spin 10s linear 5s infinite  normal;
}

.content {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.content-header {
  width: 50%;
}

h2 { 
  margin: 0;
  font-size: 2rem;
}

/**  errors ui **/
form p {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #b3261e;
  margin: 0;
  margin-top: -.5rem;
}

p img {
  width: 16px;
}

/** generated link page **/

.generated p {
  margin: 0;
}

.generated div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.generated input {
  width: 80%;
  margin: 0;
}

.generated img {
  width: 25px;
}

.generated a:hover {
  text-decoration: none;
}

@media (max-width: 1000px) {

  main {
    width: clamp(250px, 70vw, 1000px);
    gap: .8rem;
  }

  .content {
    flex-direction: column;
  }


  header img {
    width: 30px;
  }
  h1 {
    font-size: 1.75rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  .content-header {
    width: 100%;
  }

  form {
    width: 100%;
  }
}