main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
  padding: 2.2rem 2rem;
  border-radius: 1rem;
  width: clamp(500px, 65vw, 1000px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 3px #e2e8f0;
}

header { 
  width: 100%;
  color: #111827;
}

h1 {
  display: flex;
  gap: .4rem;
  font-size: 2.5rem;
  align-items: center;
  margin: 0;
  text-align: start;
}

header img { 
  width: 40px;
  animation: spin 10s linear 5s infinite  normal;
}

.content {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.content-header {
  width: 50%;
}

h2 { 
  margin: 0;
  font-size: 2rem;
}

/**  errors ui **/
form p {
  display: flex;
  align-items: center;
  gap: .5rem;
  color: #b3261e;
  margin: 0;
  margin-top: -.5rem;
}

p img {
  width: 16px;
}