main {
  display: grid;
  column-gap: 1rem;
  margin-right: 1vw;
  grid-template-columns: 200px 1fr;
  min-height: calc(100vh - 115px);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: 1rem;
  overflow: hidden;
  height: calc(100vh - 115px);
}

.body h1 {
  padding: 1.6rem 2rem;
  padding-bottom: 0;
}

.content {
  padding: 1.6rem 1.8rem 1.6em 2rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-template-rows: minmax(min-content, max-content);
  gap: 1rem;
  height: calc(100% - 115px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.content::-webkit-scrollbar-button {
  display: none;
}
.content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.content::-webkit-scrollbar-thumb {
  background: var(--shadow-hover-color);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

.card {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  padding-bottom: .6rem;
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  transition: all .1s ease-in-out;
}

.card:hover, .card:focus {
  box-shadow: 0px 0px 5px 5px var(--shadow-hover-color);
  background-color: var(--hover-color);
}

.card-folder, .card-img {
  background-color: var(--main-color);
  border-radius: .6rem;
  display: flex;
  height: 85%;
  width: 100%;
  margin-bottom: .6rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-folder img {
  width: 50%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.img-info {
  position: fixed;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}

.card-header {
  display: flex;
  gap: 1rem;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding-left: .4rem;
}

.name {
  color: inherit;
  cursor: pointer;
  margin: 0;
}

.name:hover, .name:focus { text-decoration: none; }


.dots {
  border-radius: 100%;
  cursor: pointer;
  border-radius: 100%;
}

.dots:hover,
.dots:focus {
  background-color: var(--shadow-hover-color);
}