main {
  display: grid;
  column-gap: 1rem;
  padding-right: 1rem;
  grid-template-columns: 200px 1fr 320px;
  min-height: calc(100vh - 115px);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: 1rem;
  grid-column: 2/4;
  overflow: hidden;
  height: calc(100vh - 115px);
}

.body h1 {
  padding: 1.6rem 2rem;
  padding-bottom: 0;
}

.content {
  padding: 1.6rem 1.8rem 1.6em 2rem;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-auto-rows: max-content;
  gap: 1rem;
  height: calc(100% - 115px);
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  padding-bottom: .6rem;
  width: 100%;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  will-change: transform;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  transition: all .1s ease-in-out;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2px 5px 3px var(--shadow-hover-color);
}


.card-folder, .card-img {
  background-color: var(--main-color);
  border-radius: .6rem;
  display: flex;
  height: 85%;
  width: 100%;
  color: white;
  flex-direction: column;
  margin-bottom: .6rem;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.grey-out {
  background-color: #1F2937;
}

.grey-out:hover {
  text-decoration: none;
}

.card-folder img {
  width: 50%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.card-header {
  display: flex;
  gap: 1rem;
  width: 95%;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  padding-left: .4rem;
}



.card-header p {
  margin: 0;
}

.info {
  width: 25px;
  transition: scale .2s ease-in-out;
}

.info:hover, .info:focus {
  scale: 1.2;
}

.content-info {
  position: fixed;
  border: 1px solid black;
  box-shadow: none;
  top: 45%;
  left: 180px;
  translate: 0% -50%;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.479);
}

.content-info .header {
  flex-direction: row;
  padding: 1rem 0;
  margin: 0;
}

.content-info div {
  display: flex;
  flex-direction: column;
  margin: .5rem 0;
  gap: .1rem;
}

.content-info .card-header {
  position: relative;
  width: fit-content;
  flex-direction: row;
  padding: 0;
  gap: .2rem;
}

.icon {
  width: 25px;
  align-self: self-start;
}

.content-info h3 {
  padding-left: .3rem;
}
 .content-info p {
  padding-left: .4rem;
 }

.content-info h2, .content-info h3, .content-info h4, .content-info p{
  margin: 0;
}

.name {
  color: inherit;
  cursor: pointer;
  margin: 0;
}

.name:hover, .name:focus { text-decoration: none; }


.dots {
  border-radius: 100%;
  cursor: pointer;
  border-radius: 100%;
}

.dots:hover,
.dots:focus {
  background-color: var(--shadow-hover-color);
}