main {
  display: grid;
  column-gap: 1rem;
  margin-right: 1vw;
  grid-template-columns: 200px 1fr;
  height: calc(100vh - 115px);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.content {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}


.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 175px;
  padding: 1rem;
  padding-bottom: 0;
  border-radius: 1rem;
  aspect-ratio: 1/1;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  transition: all .1s ease-in-out;
}

.card:hover, .card:focus {
  box-shadow: 0px 0px 5px 5px var(--shadow-hover-color);
  background-color: var(--hover-color);
}

.card-folder, .card-img {
  background-color: var(--main-color);
  border-radius: .6rem;
  display: flex;
  height: 85%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card-folder img {
  width: 50%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.img-info {
  position: fixed;
  left: 50%;
  top: 40%;
  translate: -50% -50%;
}

.card-header {
  height: 15%;
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  padding-right: 0;
}

.name {
  color: inherit;
  cursor: pointer;
}

.name:hover, .name:focus { text-decoration: none; }

.card-header img {
  cursor: pointer;
  border-radius: 100%;
}

.card-header img:focus, .card-header img:hover {
  background-color: var(--shadow-hover-color);
}