.side-info {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 0 .5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-left: 1px solid #e5e7eb;
  grid-column: 3/4;
}

main .with-sidebar {
  grid-column: 2;
}

.header {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1.6rem 1rem;
}

.header h2 {
  margin: 0;
  font-size: 1.75rem;
}

.header .icon {
  width: 30px;
  margin-top: 2px;
}

.header button {
  margin-left: auto;
  background-color: none;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 30px;
  border: none;
}

.header button:hover, .header button:focus {
  background-color: var(--hover-color);
}

.details, .access {
  padding: .4rem 1rem;
}

.details h3 {
  margin-top: 0;
}

.details div, .access div {
  display: flex;
  margin: 1rem .2rem;
  flex-direction: column;
  gap: .5rem;
}

.side-info h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.side-info p, .side-info h4 {
  margin: 0;
}