.side-info {
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 0 .5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-left: 1px solid #e5e7eb;
  grid-column: 3/4;
}

main .with-sidebar {
  grid-column: 2;
}

.header {
  display: flex;
  gap: .5rem;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1.6rem 1rem;
}

.header h2 {
  margin: 0;
  font-size: 1.75rem;
}

.header .icon {
  width: 30px;
  margin-top: 2px;
}

.header button {
  margin-left: auto;
  background-color: none;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 30px;
  border: none;
}

.header button:hover, .header button:focus {
  background-color: var(--hover-color);
}

.details, .access, .shared {
  padding: .4rem 1rem;
}

.shared .not-active,
.shared .active-info {
  display: none;
}

.shared .active-info {
  margin: 0;
  gap: 0;
}



.not-active form {
  width: auto;
  display: block;
}

.not-active button {
  color: var(--main-color);
  background-color: transparent;
  border: none;
  padding: 0;
}

.not-active button:hover, .not-active button:focus {
  text-decoration: underline;
}

.details h3 {
  margin-top: 0;
}

.details div, .access div, .shared div{
  display: flex;
  margin: 1rem .2rem;
  flex-direction: column;
  gap: .5rem;
}

.side-info h3 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

.side-info p, .side-info h4 {
  margin: 0;
}

@media (max-width: 1000px) {
  main .with-sidebar {
    grid-column: 1/2;
  }

  .side-info {
    grid-column: 2;
  }
}

@media (max-width: 600px) {

  .side-info {
    position: fixed;
    margin-top: .5rem;
    height: auto;
    box-shadow: 0px 0px 5px 3px var(--shadow-hover-color);
    background-color: white;
    width: 91vw;
    left: 50%;
    bottom: 0;
    margin-bottom: 10px;
    translate: -50%;
    gap: .5rem;
  }

  .header h2 {
    font-size: 1.5rem;
  }

  .side-info h3 {
    margin-top: 0;
    font-size: 1rem;
  }
  
}