main {
  box-shadow: 0px 0px 5px 5px #E2E8F0;
  margin: 0 auto;
  margin-top: 15px;
  padding: 1rem 2rem;
  border-radius: 1rem;
  width: clamp(500px, 90vw, 1000px);
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header a.button {
  gap: .6rem;
  padding: 1rem;
  max-width: 10rem;
}

.arrow {
  width: 20px;
}

