body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1F2937;
}

@keyframes spin {
  0% {
    scale: 1;
    rotate: none;
  }

  2.5% {
    scale: 0.8;
    rotate: -30deg;
  }

  7.5% { rotate: 390deg }

  10% {
    scale: 1;
    rotate: 360deg;
  }

  100% {
    scale: 1;
    rotate: 360deg;
  }
}

.button {
  background-color: #2563EB;
  color: #F3F4F6;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 5px 5px #e2e8f0;
  border-radius: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  box-shadow: 0px 0px 10px 10px #E2E8F0;
}

a {
  color: #2563EB;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p {
  color: #374151;
}

form {
  display: flex;
  flex-direction: column;
  width: 49%;
}

form p {
  color: #6B7280;
}

input {
  margin-bottom: 0.7rem;
  padding: .5rem;
  padding-left: .3rem;
  font-size: .9rem;
  outline: none;
  border-radius: .3rem;
  border: 1px solid #1F2937;
}

input:focus,
input:hover {
  border: 1px solid #2563EB;
  outline: 1.5px solid #2563EB;
}