@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-color: #2563EB;
  --hover-color: #E2E8F0;
  --shadow-color: #E2E8F0;
  --shadow-hover-color: #C6CCD3;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1F2937;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

@keyframes spin {
  0% {
    scale: 1;
    rotate: none;
  }

  2.5% {
    scale: 0.8;
    rotate: -30deg;
  }

  7.5% { rotate: 390deg }

  10% {
    scale: 1;
    rotate: 360deg;
  }

  100% {
    scale: 1;
    rotate: 360deg;
  }
}

.button {
  background-color: var(--main-color);
  color: #F3F4F6;
  padding: 10px;
  border: none;
  box-shadow: 0px 0px 8px 5px var(--shadow-color);
  border-radius: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  box-shadow: 0px 0px 8px 8px var(--shadow-hover-color);
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p {
  color: #374151;
}

form {
  display: flex;
  flex-direction: column;
  width: 49%;
}

form p {
  color: #6B7280;
}

input {
  margin-bottom: 0.7rem;
  padding: .5rem;
  padding-left: .3rem;
  font-size: .9rem;
  outline: none;
  border-radius: .3rem;
  border: 1px solid #1F2937;
  font-family: inherit;
}

input:focus,
input:hover {
  border: 1px solid var(--main-color);
  outline: 1.5px solid var(--main-color);
}


.empty-state {
  font-size: 1.1rem;
  position: absolute;
  left: calc(50% + 95px );
  top: 40%;
  translate: -50% -50%;
}

/** breadcrumbs **/

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.breadcrumbs a {
  color: inherit;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.5rem;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
  text-decoration: none;
  background-color: var(--hover-color);
}

.breadcrumbs img {
  height: 14px;
}


