@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --main-color: #2563EB;
  --hover-color: #E2E8F0;
  --shadow-color: #E2E8F0;
  --shadow-hover-color: rgba(31, 66, 121, 0.3);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1F2937;
  height: 100vh;
  max-width: 1800px;
  margin: 0 auto;
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--shadow-hover-color);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--main-color);
}

@keyframes spin {
  0% {
    scale: 1;
    rotate: none;
  }

  2.5% {
    scale: 0.8;
    rotate: -30deg;
  }

  7.5% {
    rotate: 390deg
  }

  10% {
    scale: 1;
    rotate: 360deg;
  }

  100% {
    scale: 1;
    rotate: 360deg;
  }
}

.button, .button-second {
  padding: 0.875rem 1.75rem;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  margin-top: 1rem;
  font-weight: bold;
  transition: all .2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: var(--main-color);
  color: #F3F4F6;
}

.button-second {
  border: 2px solid var(--main-color);
  background-color: white;
  color: var(--main-color);
}

.button:hover {
  text-decoration: none;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px var(--shadow-hover-color);
}

.button-second:hover {
  background: #f0f7ff;
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

p {
  color: #374151;
}

form {
  display: flex;
  flex-direction: column;
  width: 49%;
}

form p {
  color: #6B7280;
}

input {
  margin-bottom: 0.7rem;
  padding: .5rem;
  padding-left: .3rem;
  font-size: .9rem;
  outline: none;
  border-radius: .3rem;
  border: 1px solid #1F2937;
  font-family: inherit;
}

input:focus,
input:hover {
  border: 1px solid var(--main-color);
  outline: 1.5px solid var(--main-color);
}


.empty-state {
  font-size: 1.1rem;
  position: absolute;
  left: calc(50% + 95px);
  top: 40%;
  translate: -50% -50%;
}

/** breadcrumbs **/

.breadcrumbs {
  padding: 1.6rem 2rem;
  padding-bottom: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: .3rem;
  margin-top: -.6rem;
  margin-left: -16px;
  margin-bottom: -7px;
}

.breadcrumbs a {
  color: inherit;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-size: 1.75rem;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: none;
  background-color: var(--hover-color);
}

.breadcrumbs img {
  height: 14px;
}


/* max screeen width 1000px */