nav {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: sticky;
  align-items: center;
}

nav div {
  display: flex;
  gap: 1.5rem;
}

h1 {
  display: flex;
  align-items: center;
  gap: .4rem;
}

h1 img {
  width: 30px;
  animation-name: none;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

h1 img:hover {
  animation-name: spin;
}

.button {
  margin: 0;
  padding: .5rem 1.2rem;
}

.button:hover {
  text-decoration: none;
}

/** sidebar **/
.new {
  background-color: white;
  padding: .5rem 1.2rem;
  border-radius: 1rem;
  border: none;
  transition: all .3s ease-in-out;
  box-shadow: 0px 0px 5px 5px #E2E8F0;
}

.new:hover {
  box-shadow: 0px 0px 10px 10px #E2E8F0;
}