.top-nav {
  display: flex;
  justify-content: space-between;
  padding: .7rem 1.4rem;
  position: sticky;
  align-items: center;
}

.top-nav div {
  display: flex;
  gap: 1.2rem;
}

h1 {
  display: flex;
  align-items: center;
  gap: .4rem;
  margin: 0;
}

h1 img {
  width: 30px;
  animation-name: none;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

h1 img:hover {
  animation-name: spin;
}

.top-nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav img {
  width: 35px;
}

.button, .button-second {
  margin: 0;
  padding: .5rem 1.2rem;
  font-family: 'Inter', sans-serif;
}

.top-nav .button:hover {
  transform: none;
}
/** sidebar **/

.sidebar {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  max-width: 200px;
  padding: .5rem 0rem 1rem 1rem;
}

.sidebar div {
  position: relative;
}

.new {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: .5rem;
  color: #F3F4F6;
  padding: 1rem 1.7rem 1rem .7rem;
  border: none;
  background-color: var(--main-color);
  border-radius: .7rem;
  transition: all .2s;
}

.new:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 12px var(--shadow-hover-color);
}

.new img {
  width: 24px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.sidebar-links a {
  color: inherit;
  display: flex;
  padding: .7rem;
  border-radius: .5rem;
  gap: .75rem;
  transition: all .1s ease-in-out;
}

.sidebar-links a:hover, .sidebar-links a:focus {
  text-decoration: none;
  background-color: #E2E8F0;
}

.sidebar-links img {
  width: 20px;
}