.top-nav {
  display: flex;
  justify-content: space-between;
  padding: .7rem 1.4rem;
  position: sticky;
  align-items: center;
}

.logo-title, .button-nav {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.top-nav .sidebar-nav {
  width: 20px;
  display: none;
}

.top-nav .new {
  display: none;
}

h1 {
  margin: 0;
}

h1 img {
  width: 30px;
  animation-name: none;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

h1 img:hover {
  animation-name: spin;
}

.profile-logout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav img {
  width: 35px;
}

.button, .button-second {
  margin: 0;
  padding: .5rem 1.2rem;
  font-family: 'Inter', sans-serif;
}

.top-nav .button:hover {
  transform: translateY(-1px);
}
/** sidebar **/

.sidebar {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  flex-direction: column;
  max-width: 200px;
  padding: .5rem 0rem 1rem 1rem;
}

.sidebar div {
  position: relative;
}

.new {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: .5rem;
  color: #F3F4F6;
  padding: 1rem 1.7rem 1rem .7rem;
  border: none;
  background-color: var(--main-color);
  border-radius: .7rem;
  transition: all .2s;
}

.new:hover {
  box-shadow: 0px 4px 12px var(--shadow-hover-color);
}

.new img {
  width: 24px;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
}

.sidebar-links a {
  color: inherit;
  display: flex;
  padding: .7rem;
  align-items: center;
  border-radius: .5rem;
  gap: .75rem;
  transition: all .1s ease-in-out;
}

.sidebar-links a:hover, .sidebar-links a:focus {
  text-decoration: none;
  background-color: #E2E8F0;
}

.sidebar-links img {
  width: 20px;
}

@media (max-width: 1000px) {

  h1 {
    display: none;
  }
  
  .logo-title {
    display: none;
  }

  .sidebar .new {
    display: none;
  }

  .profile-logout {
    display: none;
  }

  .sidebar {
    font-size: .9rem;
    width: 60vw;
    max-width: none;
    background-color: white;
    min-height: 100vh;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding: .9rem;
    transform: translateX(-100%);
    transition: transform .2s;
  }

  .active::after {
    content: "";
    position: absolute;
    width: 34vw;
    left: 100%;
    background-color: rgba(0, 0, 0, 0.301);
    height: 100vh;
    top: 0;
    padding: 1rem;
  }

  .active {
    display: flex;
    transform: translateX(0);
  }
 

  .top-nav .sidebar-nav {
    display: block;
  }

  .sidebar-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -5px;
    width: 100%;
  }

  .sidebar-nav-header button {
    background-color: transparent;
    font-size: 2.3rem;
    border: none;
  }

  .sidebar-nav-header a {
    display: flex;
    margin-top: 4px;
    align-items: flex-end;
    flex-direction: column;
  }

  .sidebar-nav-header img {
    width: 35px;
  }



  .top-nav .new {
    display: flex;
    padding: .3rem .8rem .3rem .3rem;
    gap: .3rem;
  }
  .new img {
    width: 20px;
  }

  .sidebar-links img {
    width: 24px;
  }
  .button-second {
    margin-left: .7rem;
  }
}