.body .content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 0;
  height: auto;
  padding: .5rem 0;
}

.content div {
  padding: 0 2.3em;
}


.body h2 {
  font-size: 1.75rem;
  padding-left: 2rem;
  margin-bottom: 0;
}

.divider {
  margin-top: 21px;
  width: 68vw;
  align-self: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.stats {
  display: grid;
  overflow-y: auto;
  overflow-x: hidden;
  padding: .5rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.stats .card {
  padding: 1rem;
  width: auto;
  position: relative;
  align-items: flex-start;
  aspect-ratio: auto;
}

.content .stats {
  padding: 2rem;
  padding-top: 1.5rem;
}

.card p, .card a {
  margin: .5rem;
}

.number, .card a {
  font-size: 1.3rem;
  font-weight: 500;
}

.card button {
  background-color: var(--main-color);
  color: #F3F4F6;
  border: none;
  height: 19px;
  border-radius: 100%;
}

dialog {
  border: none;
  left: 105%;
  top: 25%;
  translate: -50% -50%;
  z-index: 1;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.479);
}

@media (max-width: 1000px) {
  .body .content {
    height: 86%;
  }

  .content .stats {
    padding: 1.2rem;
    padding-right: .7rem;
  }

  .stats {
    grid-template-columns: repeat(2, 1fr);
    gap: .7rem;
    height: 100%;
  }

  .stats .card {
    padding: .6rem;
  }
  .divider {
    width: 78%;
  }

  .number, .card a {
    margin: .3rem;
    font-size: 1rem;
  }

  .card button {
    font-size: .7rem;
    height: 17px;
  }
}