.body .content {
  display: flex;
  flex-direction: column;
  gap: 0;
  height: auto;
}

.body h2 {
  font-size: 1.75rem;
}

.divider {
  margin-top: 21px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.stats .card {
  padding: 1rem;
  width: auto;
  position: relative;
  align-items: flex-start;
  aspect-ratio: auto;
}

.card p, .card a {
  margin: .5rem;
}

.number, .card a {
  font-size: 1.3rem;
  font-weight: 500;
}

.card button {
  background-color: var(--main-color);
  color: #F3F4F6;
  border: none;
  height: 19px;
  border-radius: 100%;
}

dialog {
  border: none;
  left: 105%;
  top: 25%;
  translate: -50% -50%;
  z-index: 1;
  border-radius: .5rem;
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.479);
}