main {
  display: grid;
  column-gap: 1rem;
  margin-right: 1vw;
  grid-template-columns: 200px 1fr;
  height: calc(100vh - 115px);
}

dialog {
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.479);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: 1rem;
  overflow: hidden;
  height: calc(100vh - 150px);
}

.body h1 {
  padding: 1.6rem 2rem;
  padding-bottom: 0;
}

.content {
  display: flex;
  padding: 1.6rem 1.8rem 1.6em 2rem;
  flex-direction: column;
  gap: 1.5rem;
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}

.card {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.active-border {
  border-left: 3px solid var(--main-color);
}

.expired {
  border-left: 3px solid #b3261e;
}

.header {
  position: relative;
}

.card a {
  font-size: 1.5rem;

}
.card p { margin: 0; }

.expired p { color: #b3261e; }

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: .3rem 0;
}

.card input {
  width: 90%;
  margin: 0;
}
.card img, .dots { width: 25px; }

.dots { border-radius: 100%;}

.dots:hover, .dots:focus {
  background-color: var(--hover-color);
}

form { width: auto; }

.card .button { border-radius: .7rem; }

.controls {
  left: 95%;
  top: 100%;
  translate: -50% -50%;
}

@media (max-width: 1000px) {
  main {
    grid-template-columns: 1fr;
    padding: .5rem 1rem;
    margin-right: 0;
  }

  .body h1 {
    padding: 1rem 1.6rem;
    padding-bottom: 0;
  }
  .content {
    padding: .9rem;
  }
}
