main {
  display: grid;
  column-gap: 1rem;
  margin-right: 1vw;
  grid-template-columns: 200px 1fr;
  height: calc(100vh - 115px);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.active {
  border-left: 3px solid var(--main-color);
}

.expired {
  border-left: 3px solid #b3261e;
}

.header {
  position: relative;
}

.card a {
  font-size: 1.5rem;
  color: inherit;
}

.card a:focus, .card a:hover {
  text-decoration: none;
}

.card p {
  margin: 0;
}

.expired p {
  color: #b3261e;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: .3rem 0;
}

.card input {
  width: 90%;
  margin: 0;
}
.card img {
  width: 20px;
}

form {
  width: auto;
}

.card .button {
  border-radius: .7rem;
}

.controls {
  left: 95%;
  top: 55%;
  translate: -50% -50%;
}
