main {
  display: grid;
  column-gap: 1rem;
  margin-right: 1vw;
  grid-template-columns: 200px 1fr;
  height: calc(100vh - 115px);
}

.body {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.card a {
  font-size: 1.5rem;
  color: inherit;
}

.card a:focus, .card a:hover {
  text-decoration: none;
}

.card p {
  margin: 0;
}

.card div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.card input {
  width: 90%;
  margin: 0;
}
.card img {
  width: 20px;
}

.actions button {
  padding: .5rem;
  border-radius: .5rem;
  border: none;
  color: #f3f4f6;
  box-shadow: 0px 0px 5px 3px var(--shadow-color);
}

.actions button:hover {
  box-shadow: 0px 0px 5px 5px var(--shadow-hover-color);
}