<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <%- include('nav') %>
  <h1><%= folder.name || 'Home' %></h1>
  <% if (content.length > 0) { %>
    <% content.forEach(e => { %>
    <a href="/folder/<%= e.id %>"><%= e.name %></a>
    <% }) %>
  <% } %>
  
</body>
</html>