<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <% if (locals.currentUser) { %>
    <h1><%= currentUser.name %></h1>
  <% } %>
  <a href="/sign-up">Sign Up</a>
  <% if (locals.currentUser) { %>
    <a href="/log-out">Log Out</a>
  <% } else { %>
    <a href="/login">Log In</a>
  <% } %>
</body>
</html>