<div class="side-info">
  <div class="header">
    <img class="icon" src="/img/folder-svgrepo-com-black.svg" alt="folder">
    <h2 class="name-info"></h2>
    <button onclick="closeSideInfo()">&times;</button>
  </div>
  <div class="details">
    <h3>Details</h3>
    <div>
      <h4>Owner</h4>
      <p class="owner" style="word-wrap: break-word;"></p>
    </div>
    <div>
      <h4>Created</h4>
      <p class="created-at"></p>
    </div>
  </div>
  <div class="access">
    <h3>Access</h3>
    <div>
      <h4>First opened</h4>
      <p class="first-accessed-at"></p>
    </div>
    <div>
      <h4>Expires</h4>
      <p class="expires-at"></p>
    </div>
  </div>
</div>