<div class="side-info">
  <div class="header">
    <img class="icon" src="/img/folder-svgrepo-com-black.svg" alt="folder">
    <h2 class="name-info"></h2>
    <button onclick="closeSideInfo()">&times;</button>
  </div>
  <div class="details">
    <h3>Details</h3>
    <div>
      <h4>Owner</h4>
      <p class="owner" style="word-wrap: break-word;"></p>
    </div>
    <div>
      <h4>Created</h4>
      <p class="created-at"></p>
    </div>
  </div>
  <% if (title === 'Shared with me') { %>
  <div class="access">
    <h3>Access</h3>
    <div>
      <h4>Status</h4>
      <p class="status"></p>
    </div>
    <div>
      <h4>First opened</h4>
      <p class="first-accessed-at"></p>
    </div>
    <div>
      <h4 class="expire-title">Expires</h4>
      <p class="expires-at"></p>
    </div>
  </div>
  <% } else { %>
    <div class="shared">
      <h3>Shared</h3>
      <div class="not-active">
        <h4>Status</h4>
        <p>not shared</p>
        <form name="generate" action="" method="post">
          <button type="submit">Generate Link</button>
        </form>
      </div>
      <div class="active">
        <div>
          <h4>Status</h4>
          <p class="status">active</p>
        </div>
        <div>
          <h4>Access Count</h4>
          <p class="opened"></p>
        </div>
        <div>
          <h4 class="expire-title">Expires</h4>
          <p class="expires-at">active</p>
        </div>
        <div><a href="/shared">Manage all shared</a></div>
      </div>
      <div>

      </div>
    </div>
  <% } %>
 
</div>