<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/intro.css">
  <title>Nuvio</title>
</head>
<body>
  <%- include('nav') %>
  <main>
  <header>
    <h1>Secure storage and file sharing you can trust</h1>
    <p>Quickly share and upload files with any device with a browser.</p>
    <a class="button" href="/sign-up">Get started
      <img class="arrow" src="/img/arrow-right-alt-svgrepo-com.svg" alt="open login">
    </a>
  </header>
  <img src="" alt="user interface">
  <h2>Clean and easy to navigate interface to quickly locate shared files and uploads.</h2>
  </main>
</body>
</html>