<link rel="stylesheet" href="/css/nav.css">
<nav>
  <h1>
    <img src="/img/icons8-google-drive.svg">
    Nuvio
  </h1>
  <div>
    <% if (locals.currentUser) { %>
      <img src="" alt="user">
      <a class="button" href="/log-out">Log Out</a>
      <% } else { %>
        <a class="button" href="/sign-up">Sign Up</a>
        <a class="button" href="/login">Log In</a>
    <% } %>
  </div>
</nav>
