<link rel="stylesheet" href="/css/nav.css">
<nav class="top-nav">
  <h1>
    <img src="/img/icons8-google-drive.svg">
    Nuvio
  </h1>
  <div>
    <% if (locals.currentUser) { %>
      <a href="/profile">
        <img src="/img/circled-user-svgrepo-com.svg" alt="user">
      </a>
      <a class="button-second" href="/log-out">Log Out</a>
      <% } else { %>
        <a class="button" href="/sign-up">Sign Up</a>
        <a class="button-second" href="/login">Login</a>
    <% } %>
  </div>
</nav>
