<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Link</title>
</head>
<body>
  <h1>Generated Link!</h1>
  <p>Expires in 3 days.</p>
  <div>
    <input type="text" id="shareUrl" value="<%= shareUrl %>" readonly>
    <button id="copyBtn">Copy Link</button>
  </div>
  <a href="/folder/<%= folderId %>">Done</a>
<script>
  const copyBtn = document.getElementById('copyBtn');
  const shareUrl = document.getElementById('shareUrl');

  copyBtn.addEventListener('click', (e) => {
    navigator.clipboard.writeText(shareUrl.value)
      .then(() => {
        alert('Link copied to clipboard!')
      })
      .catch(err => {
        console.error('Failed to copy: ', err);
      });
  })

</script>
</body>
</html>