<nav class="sidebar">
  <% if ( locals.folder && locals.currentUser && folder.authorId===currentUser.id) { %>
    <div class="new-container">
      <dialog id="folder">
        <form action="/create-folder/<%= folder.id %>" method="post">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" placeholder="New Folder">
          <button class="button" type="submit" onclick="this.style.display = 'none'">Create</button>
        </form>
      </dialog>
      <dialog id="file">
        <form action="/upload/<%= folder.id || -1 %>" method="post" enctype="multipart/form-data">
          <label for="fileUpload">Select File</label>
          <p>img, pdf, or txt file</p>
          <p>up to 5MB</p>
          <img style="width: 75px;" id="preview" src="" alt="">
          <input type="file" accept="image/*, .pdf, .txt" id="uploadFile" onchange="previewImg(this)" name="uploadFile">
          <button class="button" type="submit" onclick="this.style.display = 'none'">Upload File</button>
        </form>
      </dialog>
      <dialog id="new">
        <button class="border-bottom"  onclick="toggleModal('folder')">Create Folder</button>
        <button onclick="toggleModal('file')">Add File</button>
      </dialog>
      <button class="new" id="new" onclick="toggleModal('new')">
        <img src="/img/plus-large-svgrepo-com.svg">
        New
      </button>
    </div>
    
  <% } %>
  <div class="sidebar-nav-header">
    <button onclick="toggleSidebar(false)">&times;</button>
    <% if(locals.currentUser) { %>
      <a href="/profile">
        <img src="/img/circled-user-svgrepo-com.svg" alt="user">
        <p class="truncate"><%= currentUser.email %></p>
      </a>
    <% } else { %>
      <h1>Nuivo</h1>
    <% } %>
   
  </div>
  <div class="sidebar-links">
    <a href="/home">
      <img src="/img/home-alt-svgrepo-com.svg">
      Home
    </a>
    <a href="/recent">
      <img src="/img/time-svgrepo-com.svg" alt="">
      Recent
    </a>
    <a href="/shared-with-me">
      <img src="/img/group-svgrepo-com.svg">
      Shared with me
    </a>
    <a href="/shared">
      <img src="/img/share-svgrepo-com.svg">
      Shared
    </a>
  </div>
    <% if (locals.currentUser) { %>
      <a class="button-second log-out-side" href="/log-out">Log Out</a>
    <% } %> 
</nav>