<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-Up</title>
</head>
<body>
  <% if(locals.errors) { %>
    <ul>
    <% errors.forEach(err => { %>
      <li><%= err.msg %></li>
    <% }) %>
    </ul>
   
  <% } %>
  <form action="/sign-up" method="post">
    <label for="name">Name</label>
    <input type="text" id="name" name="name" autocomplete="name" value="<%= formData.name || '' %>">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" autocomplete="email" value="<%= formData.email || '' %>" required>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" autocomplete="new-password" required>
    <p style="margin: 0; font-size: 0.9rem;">Must be at least 6 characters</p>
    <label for="confirm-password">Confirm Password</label>
    <input type="password" id="confirm-password" name="confirm-password" required>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>